.Sex-Orgy-Minecraft-Server {
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: fantasy;
}

.players {
  color: black;
  text-align: center;
  font-size: 28px;
  font-family: fantasy;
}

.subpages {
  text-align: center;
  font-size: 24px;
  font-family: fantasy;
  font-style: oblique;
}

body {
  background-image: url("./images/minecraftbackground.jpeg");
  background-color: #cccccc;
  height: auto;
  width: auto;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: green;
  font-size: 27px;
  font-family: fantasy;
}
