body {
    background: linear-gradient(-45deg, #794a3b, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Back and Home buttons */

.back-to-page {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    font-style: oblique;
}

.back {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    padding-right: 35px;
}

.back a {
    color:black;
    text-decoration: none;
}

.back a:hover {
    color: magenta;
}

.home {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    padding-left: 35px;
}

.home a {
    color: black;
    text-decoration: none;
}

.home a:hover {
    color: magenta;
}

/* Header */

.deaths-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
}


.deaths-header div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}