

/* Home */

.to-landing-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home {
  text-align: center;
  font-size: 26px;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
}

.home a {
  color: black;
  text-decoration: none;
}

.home a:hover {
  font-size: 26px;
  color: magenta;
}

/* Home */

/* Header */

.hunters-header {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hunters-header div {
  text-align: center;
  font-size: 50px;
  font-style: oblique;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
}

/* Header */

/* Statistics */

.statistics {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.statistics div {
  height: 100px;
  width: 450px;
  font-size: 50px;
  text-align: center;
  font-style: oblique;
}

.mob-kills a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.mob-kills a:hover {
  color:magenta;
  text-decoration: none;
  font-size: 52px;
}

.blocks-mined a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.blocks-mined a:hover {
  color:magenta;
  font-size: 52px;
}

.deaths a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.deaths a:hover {
  color: magenta;
  font-size: 52px;
}

/* Statistics */
